body {background: url('../img/tile.png');}
canvas {padding: 30px; display: block; margin: 0 auto;}
p {width: 600px; margin: 0 auto;}

#main {margin: 0px auto; text-align: center; font-family: 'Roboto Slab', serif;}
#result {height: 50px;padding: 10px;}